<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HolyCrossMedicalCenter</title>
</head>
<body>
 <header>
     <nav>
         <a href="/home">HolyCross Medical Center ::: Patient Management System </a>         |

         <a href="/patient/list">patient</a> |
         <a href="/elderlypatient/elderly">Elderly Patient </a>
     </nav>
    </header>
<main>
     <h4>  Welcome to HCMC Patent Management System (PMS)</h4>
    <P>
        At HolyCross Medical Center, We are known for providing the very best
        in top-quality health-care to our patients.
        On this System you can see the life of our patients,including
        the special list of our Elderly patients.
        You can also register a new patient.
    </P>

</main>


</body>
</html>